.catalogo {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
}

h3 {
    font-family: "TAN Pearl";
    src: url('./assets/fonts/tan-pearl.otf') format('truetype');
    letter-spacing: 0;
}

button {
    font-family: 'Forum', serif;
    background-color: #D3B29C;
    color: #2F4025;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a67c52;
    transform: scale(1.05);
}

.card {
    background-color: #aa6f47;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    padding: 1rem;
    max-width: 300px;
    text-align: center;
}

.card img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.card:hover {
    transform: scale(1.05);
}
.btn-detalle {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.4rem 0.8rem;
  background-color: #2F4025;
  color: #ccc;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-detalle:hover {
  background-color: #2F4025;
}
.info-nosotros, .info-anuncio {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #aa6f47;
  border-radius: 8px;
  line-height: 1.6;
  font-size: 1.1rem;
}

.info-anuncio a {
  color: #2F4025;
  text-decoration: underline;
}
.info-contacto {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #aa6f47;
  border-radius: 8px;
  font-size: 1.1rem;
}

.info-contacto a {
  color: #2F4025;
  font-weight: bold;
  text-decoration: none;
}
