.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-links a {
  color: #2f4025; 
  text-decoration: none;
  font-family: "Forum", serif;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
}

.nav-links a:visited {
  color: #2f4025;
}

.nav-links a:hover {
  color: #ccc;
}

.navbar {
    font-family: 'Forum', serif;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #aa6f47;
    position: sticky;
    top: 0;
}

.navbar h1 {
    margin: 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.navbar li a {
    text-decoration: none;
}

.titulo {
    font-family: "TAN Pearl";
    src: url('./assets/fonts/tan-pearl.otf') format('truetype');
    letter-spacing: 0;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-img {
  height: 40px; /* o lo que se ajuste mejor */
}


/*Medias queries*/
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
}