#root {
  width: 100%;
  text-align: center;
  display: block;
}

section {
  width: 100%;
  font-family: 'Forum', serif;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #d3b29c;
  position: sticky;
}
