#root {
  width: 100%;
  text-align: center;
  display: block;
}

section {
  width: 100%;
  font-family: 'Forum', serif;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #d3b29c;
  position: sticky;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-color: #D3B29C;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
